body {
  background: #3f51b5;
}

.apply-form-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  height: 100vh;
  padding-top: 10vh;
}

.form-title {
  color: #fff;
}

.form-btn {
  width: 100px;
}
